@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('./MessageBoard.css');
@import url('./AdminPage.css');
@import url('./header.css');
@import url('./SearchBar.css');
@import url('./UserListing.css');
@import url('./Icons.css');
@import url('./Forms.css');
@import url('./SplashPage.css');
@import url('./Places.css');

/*goal for centering: create one single div set the width of the elements and the margin around them to auto*/

.FontAmatic {
  font-family: 'Amatic SC';
  font-size: 40px;
  text-align: center;
  color: black;
  margin-top: 30px;
}

.center {
  text-align: center;
}

h3 {
  font-family: 'Dancing Script';
  text-align: center;
  font-size: 52px;
  font-style: italic;
  font-weight: bold;
  margin-top: -8px;
}
