@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('./messageboard.css');
@import url('./AdminPage.css');
@import url('./Header.css');
@import url('./SearchBar.css');
@import url('./UserListing.css');
@import url('./Icons.css');
@import url('./SignUpPage.css');
@import url('./react-big-calendar.css');
@import url('./Home.css');


.FontAmatic {
  font-family: 'Amatic SC';
  font-size: 40px;
  text-align: center;
  color: black;
  margin-top: 30px;
}

.center{
  text-align: center;
}

.BackButton {
  color: black;
  font-family: 'Abel';
  text-align: center;
  font-size: 19px;
}

/* this code center-aligns the placeholder text in our forms for multiple browser/verisons */
::-webkit-input-placeholder {text-align: center;}
:-moz-placeholder {/* older Firefox*/text-align: center;}
::-moz-placeholder { /* Firefox 19+ */ text-align: center;}
:-ms-input-placeholder {text-align: center;}
