.event-page {
  flex: 1;
  overflow: auto;
  
  h4 {
    text-decoration: underline;
  }

  .place-img {
    width: 300px;
  }

  tbody {
    display: inline-block;
    margin: 10px;
  }

  .place-name {
    font-family: 'Amatic SC', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-top: 30px;
  }
}
