.voting {
  background-color: yellow;
  display: flex;
}

.option {
}

.place-details{
  font-family: 'Abel';
  size: 40px;
    img {
      margin-right: 7px;
      width: 85px;
    }
}

.rsvp-button {
  form {
  border: 2px solid #4CAF50;
  width: 200px;
  display: inline-block;
}
  img {
    width: 80px;
    display: inline-block;
    margin-left: 40px;
  }
}
.rsvp {
  button {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 45px;
    border: none;
    width: 100px;
  }
  button:hover {
    cursor: pointer;
  }
  .no {
    background-color: white;
    color: black;
  }
  .yes {
    background-color: #4CAF50;
    color: white;
  }
}

.event-page {
  flex: 1;
  overflow: auto;

  .event-date {
    border-top: fuchsia 2px solid;
    border-bottom: fuchsia 2px solid;
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    font-size: 2.7em;
  }

  form {
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.1em;
  }

  .event-details {
    display: flex;
    font-family: 'Amatic SC', sans-serif;
    font-size: 2.5em;
  }

  .flex-container-1, .flex-container-2 {
    display: flex;
    flex-direction: column;
  }

  .flex-item-header {
    font-weight: bold;
    margin-right: 10px;
  }

  h4 {
    text-decoration: underline;
  }

  .place-img {
    width: 300px;
  }

  tbody {
    display: inline-block;
    margin: 10px;
  }

  .place-name {
    font-family: 'Amatic SC', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    text-decoration: underline;
    font-weight: bold;
  }
}

.RSVP {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.RSVP-item{
  display: inline-block;
}
