.align-button {
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  font-size: 35px;
  color: black;
}

form {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

#sign_up {
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  font-size: 40px;
}

/* this code center-aligns the placeholder text in our forms for multiple browser/verisons */
::-webkit-input-placeholder {text-align: center;}
:-moz-placeholder {/* older Firefox*/text-align: center;}
::-moz-placeholder { /* Firefox 19+ */ text-align: center;}
:-ms-input-placeholder {text-align: center;}
