button:hover {
  background-color: #def9a3;
}

.align-button {
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  font-size: 35px;
  color: black;
}

.let-me-in {
  float: right;
  display: inline-block;
  margin-right: 35%;
}

.take-me-back {
  float: left;
  display: inline-block;
  margin-left: 35%;
}

form {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

#sign_up {
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 40px;
}

/* this code center-aligns the placeholder text in our forms for multiple browser/verisons */
::-webkit-input-placeholder {text-align: center;}
:-moz-placeholder {/* older Firefox*/text-align: center;}
::-moz-placeholder { /* Firefox 19+ */ text-align: center;}
:-ms-input-placeholder {text-align: center;}
