.header {
  text-align: center;

    h2 {
      font-family: 'Amatic SC', sans-serif;
      font-size: 100px;
      color: fuchsia;
      margin-top: -9px;
      font-weight: bold;
  }

}
// .Header-header {
//
//   max-height: 1000px;
//   max-width: 150px;
//   min-height: 1000px;
//   min-width: 150px;

// }
