.home-page {

  .sidebar-wrapper {
    display: flex;
    background-color: pink;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
  }

  .entirepage {
    display: flex;
    flex-direction: column;
    border: 10px solid yellow;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

    //sexy toast
    // .giphy-div {
    //   width:100%;
    //   height:0;
    //   padding-bottom:73%;
    //   position:relative;
    // }
    // .giphy-embed{
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    // }

    //welcome message
    .welcome-message {
        text-align: center;
        font-family: 'Abel';
        border: none;
        background-color: #def9a3;
        box-shadow: 0.5px 0.5px 0.5px 0.5px green;
        font-size: 25px;
        padding: 5px;
    }
    .welcome-user, .reminder, .upcoming-event {
      display: inline-block;
    }
    .reminder {
      padding-left: 5px;
      padding-right: 5px;
    }

    //calendar
    .calendar-div{
      background-color: green;
      border: 2px solid lightgray;
      /*border-radius: 20px;*/
      text-align: center;
      /*width: 100%;*/
      height: 500px;
      padding: 50px;
      font-family: 'Abel', sans-serif, cursive;
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
    .rbc-agenda-view table thead > tr > th {
      padding: 17px 5px;
      text-align: left;
      border-bottom: 1px solid #DDD;
     }
    .rbc-ellipsis, .rbc-event-label, .rbc-row-segment .rbc-event-content, .rbc-show-more {
      display: block;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
}
