  .home-page {
    flex: 1;
    overflow: auto;

  .nested {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    //sexy toast
    // .giphy-div {
    //   width:100%;
    //   height:0;
    //   padding-bottom:73%;
    //   position:relative;
    // }
    // .giphy-embed{
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    // }

    //welcome message
    .welcome-message {
        color: black;
        text-align: center;
        font-family: 'Abel';
        border-top: solid 1px fuchsia;
        border-bottom: solid 1px fuchsia;
        font-size: 30px;
        padding: 5px;
        font-weight: bold;
    }
    .welcome-user, .reminder, .upcoming-event {
      display: inline-block;
    }
    .reminder {
      padding-left: 5px;
      padding-right: 5px;
    }

    //calendar
    .calendar-div{
      border: 2px solid lightgray;
      /*border-radius: 20px;*/
      text-align: center;
      /*width: 100%;*/
      height: 500px;
      padding: 15px;
      padding-left: 40px;
      padding-right: 40px;
      font-family: 'Abel', sans-serif, cursive;
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 50px;
      margin-left: 0px;
      background-color: rgb(255,255,255);
    }
}
