  .home-page {
    flex: 1;
    overflow: auto;

    .welcome-message {
        color: black;
        text-align: center;
        font-family: 'Abel';
        border-top: solid 1px fuchsia;
        border-bottom: solid 1px fuchsia;
        font-size: 30px;
        padding: 5px;
        font-weight: bold;
    }
    .polaroid {
      .frame{width: 320px;}
      position: absolute;
      z-index: 50;
      left: 0;
      margin-left: 100px;
    }
    //calendar
    .calendar-div{
      border: 2px solid lightgray;
      text-align: center;
      height: 500px;
      padding: 15px;
      padding-left: 40px;
      padding-right: 40px;
      font-family: 'Abel', sans-serif, cursive;
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 50px;
      margin-left: 0px;
      background-color: rgb(255,255,255);
    }
}


.polaroid-details{
  align-items: center;
  position: absolute;
  z-index: 50;
  left: 0;
  margin-top: 40px;
  .place-img {width: 220px;}
  margin-left: 50px;
  a{text-align: center;}
}

.polaroid-date{
  margin-top: 35px;
  margin-left: 25px;
  font-size: 50px;
  position: absolute;
  font-family: 'Amatic SC', sans-serif;
  font-weight: bold;
}
