#edit_icon {
  width: 30px;
  height: 30px;
  margin-top: -45px;
  margin-left: -12px;
  border-color: white;
}

#delete_icon {
  width: 30px;
  height: 30px;
  margin-top: -45px;
  margin-left: -3px;
}
