.sticky {
  z-index: 50;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  border: none;
  background-color: transparent;
}

.sticky img {
  width: 70px;
}

.sticky:hover {
  cursor: pointer;
}

.message-board {
  margin-bottom: 60px;
  z-index: 50;
  right: 0;
  margin-right: 30px;
  position: fixed;
  bottom: 0;
  background-color: transparent;
  width: 240px;

  form {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
.submit-chat-button {
  background-color: white;
}

.submit-chat-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #505050;
}

.submit-chat-button:active {
  box-shadow: 1px 1px 1px 1px #505050;
transform: translateY(0.5px);
}

.individual-message {
  background-color: #f5f5f5;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 2px 2px 2px 2px;
  padding-left: 5px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
}

.message-box{
  background-color: transparent;
  height: 260px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: none;
}

.sender {
  font-size: 15px;
  font-weight: bold;
  margin: 2px;
  color: gray;
  font-family: 'Abel', sans-serif;
  display: inline-block;
  width: 36%;
}

.time-stamp{
  font-size: 13px;
  font-weight: bold;
  margin: 2px;
  color: gray;
  font-family: 'Abel', sans-serif;
  display: inline-block;
  width: 60%;
  text-align: right;
}

.message-content {
  font-size: 15px;
  font-family: 'Abel', sans-serif;
  margin: 2px;
}
.message-sent{
  color: blue;
}

.submit-chat-button, form input {
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Abel', sans-serif;
  background-color: #f5f5f5;
  }
.submit-field {
  padding-left: 3px;
  padding-right: 3px;
}
