#place-h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  color: fuchsia;
  margin-top: -9px;
  font-weight: bold;
  text-align: center;
  margin-left: 220px;
}
img {
  width: 270px;
  height: 200px;
  padding: 5px;
  margin-bottom: -20px;
}
.image{
  text-align: center;
}
ul {
  list-style-type: none;
  width: 395px;
  box-shadow: 2px 2px 2px 2px;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  margin-left: 50px;
}
li {
  width: 375px;
  margin-left: -30px;
  margin-top: 5px;
}
.list-background{
  background-color: #eeeeee;
  border: 2px solid rgba(0, 0, 0, .5);
}
.place-header{
  font-size: 100px;
}

.fields{
  text-align: left;
  border: 0.5px solid black;
  height: 40px;
  letter-spacing: 1px;
}
.list{
  margin: 30px;
  /*background-color: red;*/
  width: 350px;

}
.place-list{
  color: gray;
  text-align: center;
  margin-left: 220px;
}
