.places-page {
  flex: 1;
  overflow: auto;

  h2 {
    margin-top: -10px;
    font-family: 'Dancing Script', sans-serif, cursive;
    font-size: 60px;
    color: black;
    font-weight: bold;
    text-align: center;
  }

  .place-rating{
    img {
      width: 110px;
    }
  }
  .image img {
    width: 270px;
    height: 200px;
    padding: 5px;
    margin-bottom: -20px;
    margin-left: -50px;
  }
  .image{
    text-align: center;
  }
  ul {
    list-style-type: none;
    width: 340px;
    box-shadow: 2px 2px 2px 2px;
    font-family: 'Amatic SC', sans-serif, cursive;
    font-size: 30px;
    align-items: center;
    margin-left: 10px;
  }
  li {
    width: 340px;
    // margin-left: -30px;
    // margin-top: 5px;
  }

  .place-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .outside {
    width: 100vh;
    flex: 1;
    align-items: center;
  }

  .list-background{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    border: 2px solid rgba(0, 0, 0, .5);
  }

  .fields{
    text-align: left;
    border: 0.5px solid black;
    height: 40px;
    letter-spacing: 1px;
    margin-left: -50px;
  }
  .place-list{
    color: gray;
    text-align: center;
    // margin-left: 120px;
  }
}
