#search_bar_wrapper {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  border-color: dimgray;
  text-align: center;
  display: inline-block;
  width: 760px;
}

#invisible {
  background-color: white;
  color: white;
  border-color: white;
}
