.sidebar {
  order: -1;
  text-align: center;

  .nested {
    background-color: fuchsia;
    height: 100vh;
    width: 120px;
    justify-content: space-around;
  }

  .item {
    color: white;
    font-family: 'Amatic SC', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    text-decoration: none;
  }

  img {
    padding-left: 25px;
    padding-right: 25px;
    width: 60px;
    height: 60px;
  }

  .item:hover, img:hover {
    cursor: pointer;
  }

}

@media all and (max-height: 524px) {

    .caption {
      display: none;
    }

    .item:hover {
      .caption {
        display: unset;
      }
    }

    img:hover {
      cursor: pointer;
    }
}

@media all and (max-height: 385px) {

    .item:hover {
      .caption {
        display: none;
      }
    }

    img:hover {
      cursor: pointer;
    }
}

@media all and (max-height: 365px) {

  .sidebar .nested {
    display: none;
  }

  .mini-sidebar {
    display: flex;
    justify-content: space-around;
    width: 400px;
  }

  img:hover {
    cursor: pointer;
  }
}
@media all and (max-width: 820px) {

  .sidebar .nested {
    display: none;
  }

  .mini-sidebar {
    display: flex;
    justify-content: space-around;
    width: 400px;
  }

  img:hover {
    cursor: pointer;
  }
}

@media all and (max-width: 1160px) {

  .voting{
    flex-direction: column;
  }

}
