.sidebar {
  display: flex;
  width: 140px;
  height: 100vh;
  background-color: fuchsia;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;

  .caption {
    color: white;
    font-family: 'Amatic SC', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
  }
  img {
    padding-left: 25px;
    padding-right: 25px;
    width: 60px;
    height: 60px;
  }
}
