.sidebar {
  order: -1;
  text-align: center;

  .nested {
    background-color: fuchsia;
    height: 100vh;
    width: 120px;
    justify-content: space-around;
  }

  .item {
    color: white;
    font-family: 'Amatic SC', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    text-decoration: none;
  }

  img {
    padding-left: 25px;
    padding-right: 25px;
    width: 60px;
    height: 60px;
    user-select: none;
  }

  .item:hover, img:hover {
    cursor: pointer;
  }

}
