form {
  text-align: center;
  font-family: 'Abel';
  font-size: 20px;
}

#sign_up {
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 40px;
}

/*not working, overridden by link styles*/
.back-button {
  text-align: center;
  font-family: 'Abel';
  font-size: 80px;
}
