.splash-page {

  .wrapper {
    display: flex;
    height: 100vh;
    border: 10px solid yellow;
    flex-direction: column;
    justify-content: center;
  }

  .header-wrapper {
    margin-top: -60px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .login, .signup {
    width: 155px;
    flex-wrap: wrap;
    background-color: orange;
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    display: inline-block;
  }

  .login {background-color: lightblue;}
  .signup {background-color: orange;}

}
