// #splash-container {
//   align-items: center;
//   position: relative;
//   width: 240px;
//   margin: auto;
// }
// .login {
//   width: 50%;
//   text-align: center;
//   overflow: hidden;
//   display: inline-block;
// }
// .signup {
//   width: 50%;
//   text-align: center;
//   overflow: hidden;
//   display: inline-block;
// }

.coverflow__container__1P-xE {
    position: relative;
    background: rgba(0, 0, 0, 0.69);
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
.FontAmatic {
    font-family: 'Amatic SC', sans-serif;
    font-size: 80px;
    text-align: center;
    color: black;
    margin-top: 30px;
}
