.splash-page {

  .wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }

  .header-wrapper {
    margin-top: -160px;
  }

  .button-container {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .link {
    color: black;
    text-decoration: none;
  }
  .link:hover {
    text-decoration: underline;
  }

  .login, .signup {
    width: 150px;
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    flex-wrap: wrap;
    display: inline-block;
    font-size: 2.9em;
  }

  .sidebar .nesting {
    display: none;
  }

}
