#splash-container {
  align-items: center;
  position: relative;
  width: 240px;
  margin: auto;
}

.login {
  width: 50%;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}

.signup {
  width: 50%;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}
