.splash-page {
  // .coverflow__container__1P-xE {
  //     position: relative;
  //     background: rgba(0, 0, 0, 0.69);
  //     margin: 0 auto;
  //     padding: 0;
  //     overflow: hidden;
  // }
  .button-container {
    position: relative;
    width: 240px;
    margin: auto;
  }
  .login, .signup {
    width: 50%;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    font-family: 'Amatic SC';
    color: black;
  }
}
