.splash-container {
  align-items: center;
  position: relative;
  width: 240px;
  margin: auto;
}

.login-signup-container {
  align-items: center;
  position: relative;
  width: 315px;
  margin: auto;
}

.login, .signup, .let-me-in, .take-me-back {
  width: 50%;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  font-family: 'Amatic SC';
  color: black;
}

.let-me-in, .take-me-back {
  font-family: 'Amatic SC';
  font-size: 35px;
  text-align: center;
  color: black;
  margin-top: 30px;
}
