
.help-block {
    display: block;
    font-size: .9em;
    color: #e22020;
    margin-left: 350px;
    margin-top: -26px;
}

.signup-page {

  .wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }

  form {
      input {
        text-align: center;
        font-family: 'Abel', sans-serif;
        font-size: .9em;
      }
  }

  .letMeIn{
    background-color: rgba(255, 0, 0, 0);
    border-radius: 20px;
  }
  .entry-header {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 3em;
    // background-color: lightgreen;
  }

  .let-me-in, .take-me-back {
    flex-wrap: wrap;
    display: inline-block;
    margin-top: 12px;
  }
  .entry-button {
    background-color: white;
    border-radius: 20px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 35px;
    text-align: center;
    color: black;
    }
  .entry-button:hover {
    cursor: pointer;
  }

  .let-me-in {width: 140px;}
  .take-me-back {width: 180px;}

  .sidebar .nesting {
    display: none;
  }

  }
