
.help-block {
    display: block;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-right: -620px;
    color: #e22020;
}

.signup-page {
  .container{
    display: flex;
    justify-content: center;
  }

  form {
    width: 500px;
  }

  .form-group {
    margin-bottom: 0px;
  }

  .letMeIn{
    background-color: rgba(255, 0, 0, 0);
    border-radius: 20px;
  }
  .entry-header {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 3em;
  }
  .button-container {
    position: relative;
    width: 315px;
    margin: auto;
  }
  .let-me-in, .take-me-back {
    width: 50%;
    text-align: center;
    display: inline-block;
    font-family: 'Amatic SC';
    color: black;
    font-size: 35px;
    margin-top: 30px;
  }
  .entry-button {
    background-color: white;
    border-radius: 20px;
    }
  }
