.login-page {

  .wrapper {
    display: flex;
    height: 100vh;
    border: 10px solid yellow;
    flex-direction: column;
    justify-content: flex-start;
  }

  form {
    background-color: pink;
  }

  .validate {
    text-align: center;
  }

  .validate img {
    padding-top: 20px;
    width: 300px;
    max-height: 200px;
  }

  .entry-header {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 3em;
    background-color: lightgreen;
  }
  .button-container {
    position: relative;
    width: 315px;
    margin: auto;
    background-color: orange;
  }
  .let-me-in, .take-me-back {
    width: 50%;
    text-align: center;
    display: inline-block;
    font-family: 'Amatic SC', sans-serif;
    color: black;
    font-size: 35px;
    margin-top: 30px;
  }

  .let-me-in {
    background-color: lightblue;
  }

  .take-me-back {
    background-color: salmon;
  }

  .entry-button {
    background-color: white;
    border-radius: 20px;
  }

}
